<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<link rel="stylesheet" href="/css/mystory.css">
<link rel="stylesheet" href="/css/sideheader.css">
<style>

</style>
<body>
<div id="wrap">
    <script th:inline="javascript">
        let login = /*[[${session.loginUser}]]*/'';
        if(login === '' || login == null){
            alert("로그인 후 이용해주세요.");
            location.href = "/user/login";
        }
    </script>
    <div class="header">
        <div class="home">
            <a th:href="@{/board/home}">
                <img src="/images/home.png">
                <span class="txt">홈</span>
            </a>
        </div>
        <div class="home">
            <a th:href="@{/board/write}">
                <img src="/images/write.png">
                <span class="txt">만들기</span>
            </a>
        </div>
        <div class="home">
            <a th:href="@{/user/mypage}">
                <th:block th:if="${userfile.orgname eq 'orgname'}">
                    <img class="myimg" src="/images/profile.png">
                </th:block>
                <th:block th:if="${userfile.orgname ne 'orgname'}">
                    <img class="myimg" th:src="@{/user/getImg (loginUser=${session.loginUser})}">
                </th:block>
                <span class="txt">프로필</span>
            </a>
        </div>
    </div>
    <section>
        <div class="s_profil">
            <div class="profil_img">
                <th:block th:if="${userfile.orgname eq 'orgname'}">
                    <img class="th" src="/images/profile.png">
                </th:block>
                <th:block th:if="${userfile.orgname ne 'orgname'}">
                    <img class="th" th:src="@{/user/getImg (loginUser=${session.loginUser})}">
                </th:block>
            </div>
            <div class="s_info">
                <div class="info_id">
                    <span th:text="${user.getNickName()}"></span>
                    <a th:href="@{/user/modify}">프로필 수정</a>
                </div>
                <div>
                    <span>게시물 0</span>
                    <span>팔로워 0</span>
                    <span>팔로우 0</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <hr style="width: 900px; margin: auto;">
        <div class="s_list">
            <div class="list_box">
                <div class="slist_img">
                    <img class="a" th:src="@{/board/images/section2.png}" alt="">
                    <div class="link">
                        <div class="b">
                            <img th:src="@{/board/images/ssheart.png}" alt="">
                            <p>200</p>
                        </div>
                        <div class="b">
                            <img th:src="@{/board/images/ssmsg.png}" alt="">
                            <p>200</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>