<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<link rel="stylesheet" href="/css/mystory.css">

<style>

</style>
<body>
<div id="wrap">
    <section>
        <div class="s_profil">
            <div class="profil_img">
                <img class="th" th:src="@{/user/getImg (loginUser=${session.loginUser})}" alt="">
            </div>
            <div class="s_info">
                <div class="info_id">
                    <span th:text="${user.getNickName()}"></span>
                    <a th:href="@{/user/modify2}">프로필 수정</a>
                </div>
                <div>
                    <span>게시물 0</span>
                    <span>팔로워 0</span>
                    <span>팔로우 0</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <hr style="width: 900px; margin: auto;">
        <div class="s_list">
            <div class="list_box">
                <div class="slist_img">
                    <img class="a" th:src="@{/board/images/section2.png}" alt="">
                    <div class="link">
                        <div class="b">
                            <img th:src="@{/board/images/ssheart.png}" alt="">
                            <p>200</p>
                        </div>
                        <div class="b">
                            <img th:src="@{/board/images/ssmsg.png}" alt="">
                            <p>200</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>