<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<link rel="stylesheet" href="/css/mystory.css">
<link rel="stylesheet" href="/css/sideheader.css">
<style>

</style>
<body>
<div id="wrap">
    <div class="header">
        <div class="home">
            <a th:href="@{/board/home}">
                <img src="/images/home.png">
                <span class="txt">홈</span>
            </a>
        </div>
        <div class="home">
            <a th:href="@{/board/write}">
                <img src="/images/write.png">
                <span class="txt">만들기</span>
            </a>
        </div>
        <div class="home">
            <a th:href="@{/user/mypage}">
                <th:block th:if="${userfile.orgname eq 'orgname'}">
                    <img class="myimg" src="/images/profile.png">
                </th:block>
                <th:block th:if="${userfile.orgname ne 'orgname'}">
                    <img class="myimg" th:src="@{/user/getImg (loginUser=${session.loginUser})}">
                </th:block>
                <span class="txt">프로필</span>
            </a>
        </div>
    </div>
    <section>
        <div class="s_profil">
            <div class="profil_img">
                <th:block th:if="${userfile.orgname eq 'orgname'}">
                    <img class="th" src="/images/profile.png">
                </th:block>
                <th:block th:if="${userfile.orgname ne 'orgname'}">
                    <img class="th" th:src="@{/user/getImg (loginUser=${session.loginUser})}">
                </th:block>
            </div>
            <div class="s_info">
                <div class="info_id">
                    <span th:text="${user.getNickName()}"></span>
                    <a th:href="@{/user/modify}">프로필 수정</a>
                </div>
                <div>
                    <span>게시물 [[${boardList.size}]]</span>
                    <span>팔로워 [[${follower.size}]]</span>
                    <span>팔로우 [[${following.size}]]</span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <hr style="width: 900px; margin: auto;">
        <div class="s_list">
            <div class="list_box">
                <th:block th:if="${boardList != null and boardList.size()>0}" th:each="board : ${boardList}">
                    <div class="slist_img">
                        <img class="a" th:src="@{/board/getBoardThum (boardnum=${board.boardnum})}" alt="">
                        <div class="link">
                            <div class="b">
                                <img src="/images/ssheart.png" alt="">
                                <p>[[${board.likes}]]</p>
                            </div>
                            <div class="b">
                                <img src="/images/ssmsg.png" alt="">
                                <p>[[${board.reply}]]</p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</div>
</body>
</html>