.s_profil{
    width: 100%;
    height: 350px;
    padding-top: 100px;
    /* background-color: #A3BBDC; */
    display: flex;
    flex-direction: row;
}
.profil_img{
    text-align: right;
    padding: 50px;
    padding-right: 100px;
   width: 50%;
}
.profil_img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #CAD8EB;
    border-radius: 50%;
}
.s_info{
    width: 50%;
    padding: 30px;
    padding-top: 60px;
}
.s_info > div{
    font-size: 18px;
    /* color: white; */
    color: black;
    font-weight: 500;
    padding: 15px;
}
.s_info .info_id{
    font-size: 25px;
}
.info_id > a{
      color: black;
      text-decoration-line: none;
      font-size: 17px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      padding: 5px;
      background-color: #e9ecef;
}
.s_info > div > span{
    padding-right: 30px;
}
.s_list{
    margin: auto;
    width: 900px;
    height: 100%;
}
.list_box{
    width: 100%;
    height: 100%;
   padding: 40px 20px;
   /* padding-top: 40px; */
   display: flex;
   flex-flow: row wrap;
}
.slist_img{
    margin: 5px;
    background-color: black;
}
.slist_img img{
    border: 2px solid #CAD8EB;
    width: 205px;
    height: 205px;
    object-fit: cover;
}
.slist_img {
    position: relative;
  }
  
  .a {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .link {
    width: 15px;
    height: 15px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* .slist_img:hover{
    filter: brightness(80%);
    transition: .5s ease;
  } */
  .slist_img:hover .a {
    opacity: 0.7;
    transition: .5s ease;
  }
  
  .slist_img:hover .link {
    opacity: 1;
  }
  .link{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .link img {
    border: none;
    width: 30px;
    height: 30px;
  }
  .b{
    display: flex;
  }
  .link p{
    margin: 0px;
    padding-top: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }