<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.demo.mapper.BoardFileMapper">
    <insert id="saveFile">
        insert into boardfile (systemname,orgname,boardnum) values (#{systemname},#{orgname},#{boardnum})
    </insert>
    <select id="findByBoardnum">
        select * from boardfile ORDER BY boardnum DESC;
    </select>
</mapper>